<body>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#" routerLink="/index"
      >Inicio</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/login">Iniciar sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/register">Registrarme</a>
  </li>
</ul>

<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->

        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"><img class="w-100" src="https://images.prismic.io/vivaair-cms/053483fe-3168-4b06-b9c3-71c336319cc4_4-nuevaviva-1112x762.png?auto=compress,format" alt="Image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Bienvenidos!</h1>
              </div>
              <br />
              <form class="user">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control form-control-user"
                    id="exampleInputEmail"
                    aria-describedby="Correo electrónico"
                    placeholder="Correo electrónico"
                  />
                </div>
                <br />
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    id="exampleInputPassword"
                    placeholder="Contraseña"
                  />
                </div>
                <br /> <br />
                <button type="button" class="btn btn-outline-primary">
                  Acceder
                </button>
                <hr />
              </form>
              <div class="text-center">
                <a class="nav-link" href="#" routerLink="/register"
                  >¡Crea una cuenta!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
