<body>
<h1 class="display-5 text-primary m-0">Administración</h1>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/admin">Vendidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/edit">Editar</a>
  </li>
</ul>

<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="p-5">
            <div class="text-center">
              <h1>Asientos vendidos</h1>

              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                </div>
                <div class="col-sm"></div>
              </div>

              <section>
                <br /><br /><br />
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Documento</th>
                      <th scope="col">Nombre completo</th>
                      <th scope="col">correo</th>
                      <th scope="col">Fecha Entrada</th>
                      <th scope="col">Fecha Salida</th>
                      <th scope="col">No. asientos</th>
                    </tr>
                  </thead>
                </table>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
