<body>

<h1 class="display-5 text-primary m-0">Administración</h1>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin">Vendidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/edit">Editar</a>
  </li>
</ul>

<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="p-5">
            <div class="text-center">
              <h1>Agregar o eliminar asientos</h1>

              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                </div>
                <div class="col-sm"></div>
              </div>

              <section>
                <br /><br /><br />
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Código</th>
                      <th scope="col">Eliminar</th>
                      <th scope="col " routerLink="/editsillas">Editar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>A1</td>
                      <td><a href=""><button type="button" class="btn btn-outline-danger">Eliminar</button></a></td>
                      <td><a href=""><button type="button" class="btn btn-outline-primary">Editar</button></a></td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
