<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
  <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
      <div class="col-lg-6 px-5 text-start">
          <small><i class="fa fa-map-marker-alt text-primary me-2"></i>Medellín, Colombia</small>
          <small class="ms-4"><i class="fa fa-clock text-primary me-2"></i>8:00 am - 5:00 pm</small>
      </div>
      <div class="col-lg-6 px-5 text-end">
          <small><i class="fa fa-envelope text-primary me-2"></i>info@vivaair.com</small>
          <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>+012 345 6789</small>
      </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
      <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
          <h1 class="display-5 text-primary m-0">Reservas</h1>
      </a>
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0">

              <a href="#" routerLink="/loginadmin" class="nav-item nav-link">Admin</a>
              <a href="#" routerLink="/login" class="nav-item nav-link">Acceder</a>
              <a href="#" routerLink="/register" class="nav-item nav-link">Registrarse</a>
          </div>
      </div>
  </nav>
</div>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="w-100" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/62GMTK3MWBFRBFMI6MNNKW5NJQ.jpg" alt="Image">
              <div class="carousel-caption">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-lg-8">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
          <div class="carousel-item">
              <img class="w-100" src="https://media.istockphoto.com/id/955952680/es/foto/avi%C3%B3n-comercial-de-pasajeros-volando-por-encima-de-las-nubes.jpg?s=612x612&w=0&k=20&c=eJ16Fp4fVQZzwJDauYaqkdH9ORjFSyEqGf7XEpLb2ck=" alt="Image">
              <div class="carousel-caption">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-lg-7">
                              <h1 class="display-1 mb-4 animated slideInDown">Bienvenidos!</h1>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>
<!-- Carousel End -->


<!-- Callback Start -->
<div class="container-fluid callback my-5 pt-5">
  <div class="container pt-5">
      <div class="row justify-content-center">
          <div class="col-lg-7">
              <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                      <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Formulario
                      </p>
                      <h1 class="display-5 mb-5">Contáctenos</h1>
                  </div>
                  <div class="row g-3">
                      <div class="col-sm-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="name" placeholder="Your Name">
                              <label for="name">Nombre completo</label>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-floating">
                              <input type="email" class="form-control" id="mail" placeholder="Your Email">
                              <label for="email">Correo electrónico</label>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                              <label for="mobile">Número telefónico</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a message here" id="message"
                                  style="height: 100px"></textarea>
                              <label for="message">Mensaje</label>
                          </div>
                      </div>
                      <div class="col-12 text-center">
                          <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- Callback End -->


<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              &copy; Sitio web derechos reservados.
          </div>
          <div class="col-md-6 text-center text-md-end">
              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
             Realizado L&M en el año 2022
          </div>
      </div>
  </div>
</div>
<!-- Copyright End -->

