<body>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" aria-current="page" href="#" routerLink="/index">Volver</button>
  </li>

</ul>


<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->

        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"><img class="w-100" src="https://gestion.pe/resizer/40rS0mSTdklFrN_rwBFxk6frRjE=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/TBIWSBPRTBHXZPX5UJI7YP2Y6M.jpg" alt="Image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Hola admin!</h1>
              </div>
              <br />
              <form class="user">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control form-control-user"
                    id="exampleInputEmail"
                    aria-describedby="Correo electrónico"
                    placeholder="Correo electrónico"
                  />
                </div>
                <br />
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    id="exampleInputPassword"
                    placeholder="Contraseña"
                  />
                </div>
                <br /> <br />
                <button type="button" class="btn btn-outline-primary">
                  Acceder
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
